.reviewCard{
    background-color: #F8F8FF;
    width: 95%;
    border-radius: 12px;
    padding: 10px;
    
}

.reviewImage{
    /* rounded-circle ml-3 mb-3 w-75 */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.reviewText{
    padding: 12px;
    text-align: justify;
    text-justify: inter-word;
}

.reviewPerson{
    margin-left: 12px;
    margin-top: 12px;
}


@media (max-width:668px) {
    .reviewCard{
        background-color: #F8F8FF;
        width: 95%;
        border-radius: 12px;
    }
    
    .reviewImage{
        /* rounded-circle ml-3 mb-3 w-75 */
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 2px;
        margin-bottom: 10px;
        
    }
    
    .reviewText{
        padding: 12px;
        font-size: 12px;
        text-align: justify;
        text-justify: inter-word;
    }

    .reviewPerson h5{
        font-size: 15px;
    }
    .reviewPerson p{
        font-size: 12px;
    }
    
}